@model dynamic
@{
    ViewBag.Title = "Listado de tiquetes pendientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Listado de tiquetes pendientes</h1>
<table class="table table-striped table-bordered" id="tablaUsuarios">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Fecha</th>
            <th>Empleado</th>
            <th>Cliente</th>
            <th>Presupuesto</th>
            <th>Detalles</th>
            <th>Atender</th>
        </tr>
    </thead>
    <tbody>
        <!--row goes here-->
        
        @foreach (var item in Model.cta)
        {
        <tr>
            <td><input type="radio" name="usuarios" onclick=""></td>
            <td>@item.TicketID</td>
            <td>@item.Fecha</td>
            <td>@item.Usuario_Empleado_Asig</td>
            <td>@item.Usuario_Cliente</td>
            <td>@item.Presupuesto</td>
            <td><span title="@item.Detalles">Ver más detalles</span> <!--Quizá un alert--></td>
            <td><button type="submit" name="procesarFormulario" value="@item.TicketID" class="btn btn-light">Actualizar</button></td>
        </tr>
        }

        <!--Row ends here-->
    </tbody>
</table>
<br />
<div>

</div>