@model Proyecto.Entidades.UsuarioObj

@{
    ViewBag.Title = "IngresoUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<script>
    addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar() { window.scrollTo(0, 1); }
</script>
<h1>Login</h1>
<div class="clear-loading spinner">
    <span></span>
</div>
<div class="w3ls-login box box--big">
    <form action="#" method="post">
        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Username </label>
            <input type="text" name="name" placeholder="Enter User Name" required="" />
        </div>
        <div class="agile-field-txt">
            <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> Contraseña </label>
            <input type="password" name="password" placeholder="Enter Password" required="" id="myInput" />
            <div class="agile_label">
                <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                <label class="check" for="check3">Show password</label>
            </div>
            <div class="agile-right">
                <a href="#">forgot password?</a>
            </div>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {x.type = "text"; } else { x.type = "password"; }
            }
        </script>
        <input type="submit" value="LOGIN">
    </form>
</div>
-->
<!-- ========================= login-style-2 start ========================= -->

<section class="login-section login-style-2 mb-80">
    <div class="container">
        <div class="login-wrapper img-bg">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-xl-5 offset-xl-1">
                    <div class="login-content-wrapper">
                        <div class="section-title mb-40"><h3 class="mb-20">Iniciar sesión</h3></div>
                        @using (Html.BeginForm("IngresoUsuarios", "Usuario", FormMethod.Post, new { @class = "login-form", required = "" }))
                        {
                            <div class="single-input">
                                <!--<label for="login-email">Email</label>-->
                                @Html.TextBoxFor(Model => Model.email, new { @class = "login-form", placeholder = "Correo electrónico", required = "" })
                                <i class="lni lni-envelope"></i>
                            </div>
                            <div class="single-input">
                                <!--<label for="login-password">Password</label>-->
                                @Html.TextBoxFor(Model => Model.password, new { @class = "login-form", placeholder = "Contraseña", required = "" })
                                <i class="lni lni-lock"></i>
                            </div>

                            <!--<div class="form-footer">
            <div class="form-check mb-25">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Recordar contraseña</label>
            </div>
            <p class="mb-25"><a href="#0">Forgot Password?</a></p>
        </div>-->
                            <div class="signup-button mb-25">
                                @*<input type="button" value="Iniciar sesión" class="button button-lg radius-10 btn-bloc" style="width:100%" onclick="IngresarUsuario();">*@
                                <input type="submit" value="Iniciar sesión" class="button button-lg radius-10 btn-bloc" style="width:100%">
                            </div>
                            <p class="mb-25">¿No tienes una cuenta? @Html.ActionLink("Registrate aquí", "RegistroUsuarios", "Usuario")</p>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>
                        
</section>

<!-- ========================= login-style-2 end ========================= -->
@section Scripts
{
    @Scripts.Render("~/bundles/custom-validator")
    @Scripts.Render("/FuncionesJS/UsuarioJS.js")
}
