@model dynamic
@{
    ViewBag.Title = "Perfil";
}


<section class="login-section login-style-2 mb-80">
    <div class="container">
        <div class="login-wrapper img-bg">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-xl-5 offset-xl-1">
                    <div class="login-content-wrapper">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Session["Datos"] != null)
{
    var s = this.Session["Datos"] as Usuarios;
    if (!s.PermisosID.Equals(2))
    {
        <h1>Listado de tiquetes pendientes por aprobación</h1>
        <table class="table table-striped table-bordered" id="tablaUsuarios">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Empleado</th>
                    <th>Cliente</th>
                    <th>Presupuesto</th>
                    <th>Detalles</th>
                    <td>Ver productos</td>
                    <th>Aprobar / Reprobar</th>
                </tr>
            </thead>
            <tbody>
                <!--row goes here-->

                @foreach (var item in Model.ctau)
                {
                    <tr>
                        <td><input type="radio" name="usuarios" onclick=""></td>
                        <td>@item.TicketID</td>
                        <td>@item.Fecha</td>
                        <td>@item.Usuario_Empleado_Asig</td>
                        <td>@item.Usuario_Cliente</td>
                        <td>@item.Presupuesto</td>
                        <td><span title="@item.Detalles">Ver más detalles</span> <!--Quizá un alert--></td>
                        <td>
                            <select id="SomeId" name="SomeId" class="your-class-here">
                                @foreach (var item2 in Model.cpt)
                                {
                                    if (item2.TicketID == item.TicketID)
                                    {
                                        <option value="">@item2.ProductoID @item2.Precio @item2.NombreProducto</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="Aprobar" class="button button-sm radius-10 btn-bloc"
                                   onclick="ActualizarTiqueteJS(@item.Usuario_Empleado_Asig, @item.Usuario_Cliente, 3, @item.Presupuesto, '@item.Detalles', @item.TicketID);">
                            <input type="submit" value="Reprobar" class="button button-sm radius-10 btn-bloc"
                                   onclick="ActualizarTiqueteJS(@item.Usuario_Empleado_Asig, @item.Usuario_Cliente, 1, @item.Presupuesto, '@item.Detalles', @item.TicketID);">

                        </td>
                    </tr>
                }

                <!--Row ends here-->
            </tbody>
        </table>
    }
}

<input type="button" value="Cerrar sesión" class="button button-sm radius-10 btn-bloc"
       onclick="logoutJS();">

<script>
    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") { x.type = "text"; } else { x.type = "password"; }
    }
</script>


@section Scripts
{
    @Scripts.Render("/FuncionesJS/UsuarioJs.js")
}


